- content_for :body_id do
  cart-page

.container
  .row
    .small-12.column
      %h1
        = I18n.t('My Cart')
  .row
    .small-12.column.page-content
      - if @carts_products.count > 0
        %table
          %thead
            %tr
              %th= I18n.t('Article number')
              %th= I18n.t('Name')
              %th= I18n.t('Count')
              %th= I18n.t('Price')
              %th
          %tbody
            - @carts_products.each do |cart|
              %tr
                %td
                  = cart.product_sku
                %td
                  = cart.product_name
                %td
                  -#%input{ type: 'number', value: cart.count }
                  .add-section
                    = link_to '#', class: 'count-up', data: { 'product-id' => cart.product_id } do
                      %span.more +
                    = link_to '#', class: 'count-down', data: { 'product-id' => cart.product_id } do
                      %span.less -
                    %input{ type: 'number', value: cart.count, name: 'count', data: { 'product-id' => cart.product_id }}
                %td
                  = number_to_currency(cart.product_price.to_f * cart.count.to_f,
                                       unit: "грн", separator: ",", delimiter: "", format: "%n %u")
                %td
                  = link_to cart_path(cart, { product_id: cart.product_id }), class: 'remove-product',
                                             data: { 'product-id' => cart.product_id } do
                    %span.remove
                      = I18n.t('Remove')
            %tr
              %td.totalPrice= I18n.t('Total')
              %td
              %td
              %td.totalPrice
                - sum = @carts_products.map { |cart| cart.product_price.to_f * cart.count.to_f }.sum
                = number_to_currency(sum, unit: "грн", separator: ",", delimiter: "", format: "%n %u")
              %td
        - if current_user
          = link_to I18n.t('Create Order'), orders_path, method: 'post', class: 'button', title: I18n.t('Create Order')
        - else
          -#= link_to 'Create Order', '#', class: 'button', 'data-reveal-id' => 'myModal'
          = link_to I18n.t('Create Order'), new_user_registration_path, class: 'button modal-order-link',
                                                                   title: I18n.t('Create Order')

      - else
        %p
          #{I18n.t('Your cart is empty')}. #{link_to I18n.t('Go to catalog page'), products_path, title: I18n.t('Go to catalog page')}
