.row
  .large-offset-4.medium-offset-3.small-12.medium-6.large-4.columns.device_page
    %h2= I18n.t('Sign up to site')

    = form_for(resource, as: resource_name,
                         url: registration_path(resource_name)) do |f|
      .field
        = f.label :first_name, I18n.t('user.First Name')
        = f.text_field :first_name, autofocus: true
        = input_errors(resource.errors, :first_name)

      .field
        = f.label :last_name, I18n.t('user.Last Name')
        = f.text_field :last_name, autofocus: true
        = input_errors(resource.errors, :last_name)

      .field
        = f.label :telephone, I18n.t('user.Telephone')
        = f.text_field :telephone, autofocus: true
        = input_errors(resource.errors, :telephone)

      .field
        = f.label :address, I18n.t('user.Address')
        = f.text_field :address, autofocus: true
        = input_errors(resource.errors, :address)

      .field
        = f.label :email, I18n.t('user.Email')
        = f.email_field :email, autofocus: true
        = input_errors(resource.errors, :email)

      .field
        = f.label :password, I18n.t('user.Password')
        - if @minimum_password_length
          %em (#{I18n.t('user.characters minimum') %@minimum_password_length})
        = f.password_field :password, autocomplete: 'off'
        = input_errors(resource.errors, :password)

      .field
        = f.label :password_confirmation,  I18n.t('user.Password confirmation')
        = f.password_field :password_confirmation, autocomplete: 'off'
        = input_errors(resource.errors, :password_confirmation)

      .actions
        = f.submit I18n.t('Sign Up'), class: 'primary button expand'

    = render 'devise/shared/links'
