%h1
  Contact us
.row
  .small-12.column
    .contact_us
      .large-offset-4.medium-offset-3.small-12.medium-6.large-4.columns.device_page
        = form_for (@contact_us_record || ContactUs.new), url: contact_path do |contact_us|
          = label_tag :email, I18n.t('user.Email')
          = contact_us.email_field :email, placeholder: 'exemple@gmail.com', required: true, autocomplete: true
          = label_tag :topic, I18n.t('user.topic')
          = contact_us.text_field :topic, placeholder: I18n.t('Short description'), required: true
          = label_tag :comment, I18n.t('user.comment')
          = contact_us.text_area :comment, rows: 5,  placeholder: I18n.t('Describe your proposition/problem'), required: true
          .with_recaptcha
            = recaptcha_tags(hl: 'ru')
          = contact_us.submit I18n.t('Send'), class: 'button'


