{{#each products}}
  <div class="medium-3 columns product-item">
    <div class="panel" data-equalizer-watch="" style="height: 264px;">
      <h3>{{product_name}}</h3>
      <p>
        {{product_s_desc}}
      </p>
      <p>
        {{category_path}}
      </p>
      <p>
        {{product_price}}
      </p>
      <p>
        {{product_sku}}
      </p>
      <a class="button" href="/products/{{id}}">Detail</a>
      <div class="add-section">
        <a class="count-up" href="#"><span class="more">+</span>
        </a>
        <a class="count-down" href="#"><span class="less">-</span>
        </a>
        <input name="count" type="number" value="1">
        <a class="button addToCart" data-productid="{{id}}" data-count="1" href="#">Add to cart</a>
      </div>
    </div>
  </div>
{{/each}}
