- content_for :body_id do
  catalog

.container
  %ul.breadcrumbs
    %li
      = link_to 'All', products_path, class: 'productLink'
      -#%a{ href: '#' } All
      -#= params[:category]
    - splited_params = params[:category].to_s.split('/')
    - splited_params.each do |category|
      %li
        - index =  splited_params.find_index(category)
        - sub_path = splited_params.first(index+1).join('/')
        = link_to category, products_path({ category: sub_path }), class: 'productLink'
  %h1
    Products
  .row.productsList{ 'data-equalizer' => '' }
    -#.small-12.column
    -#  .shopContainer
    - @categories.to_a.each do |category|
      .medium-3.columns.category-item
        .panel{ 'data-equalizer-watch'=>"" }
          %h3= category.category_name
          %p
            = link_to 'Show more', products_path({category: category.category_path}), class: 'productLink'

    - @products.to_a.each do |product|
      .medium-3.columns.product-item
        .panel{ 'data-equalizer-watch'=>"" }
          %h3= product.product_name
          %p
            = product.product_s_desc || 'No description'
          %p
            = product.category_path
          %p
            = product.product_price
          %p
            = product.product_sku
          %p
            = link_to 'Detail', product_path(product), class: 'button'
          %p
            = link_to 'Add to cart', '#', class: 'button addToCart', data: { productid: product.id }

  -#= paginate @products.to_a
