- content_for :body_id do
  catalog

.container
  %ul.breadcrumbs
    %li
      = link_to I18n.t('All'), products_path, class: 'productLink'
      -#%a{ href: '#' } All
      -#= params[:category]
    - splited_params = params[:category].to_s.split('/')
    - splited_params.each do |category|
      %li
        - index =  splited_params.find_index(category)
        - sub_path = splited_params.first(index+1).join('/')
        = link_to category, products_path({ category: sub_path }), class: 'productLink'

  .productsList
    .categories.row
      - @categories.to_a.each do |category|
        .medium-3.columns.category-item
          .allSeriesContainer
            = link_to products_path({category: category.category_path}), class: 'productLink contentLink text-center' do
              = image_tag category.category_image ? category.category_image.category_image.url(:square) : '/system/missing.png'
              .categoryContainer
                .categoryName.contentDetails
                  = category.category_name
                .categoryNumber.contentDetails
    .products.row
      - @products.to_a.each do |product|
        .medium-3.columns
          .product-item
            .image-container.displayTable
              .image.text-center.displayTableCell
                = link_to product_path(product) do
                  = image_tag product.product_images.blank? ? '/system/missing.png' : product.main_image_url(:square)
            .productDetails
              = link_to product_path(product) do
                .productTitle.floatLeft= product.product_name

                .price.regularPrice #{product.product_price} грн
            .moreInfo
              .productDesp= product.product_desc || 'No description'
              .add-section
                = link_to '#', class: 'count-up' do
                  %span.more +
                %input{ type: 'number', value: 1, name: 'count'}
                = link_to '#', class: 'count-down' do
                  %span.less -
                %span.priceBtn
                  = link_to 'Add to cart', '#', class: 'button addToCart tiny', data: { productid: product.id, count: '1' }
          %br

