- content_for :body_id do
  product-page

%section.row.product-page
  .columns.medium-6.small-12
    .row.imageContainer
      .columns.small-12.text-center.paddingTopBottom.large_image
        = image_tag (@product.product_images.blank? ? '/system/missing.png' : @product.main_image_url(:original)),
                                                       title: @product.product_name,
                                                       alt: @product.product_name
      .columns.small-12.images_galery
        - @product.product_images.order(:number).each do |product_image|
          = image_tag product_image.image.url(:thumb), title: product_image.product_name, alt: product_image.product_name
  .columns.medium-6.small-12
    .row
      .columns.small-12.paddingTopBottom
        %h3
          = @product.product_name
        %small
          -#Артикульный номер:
          #{I18n.t('Article number')}: #{@product.product_sku}
        -#%span.product_sku
        -#  = @product.product_sku
      .columns.small-12.paddingTopBottom
        %b
          #{I18n.t('Price')}:
          #{@product.product_price} грн
      .columns.small-12.paddingTopBottom
        .add-section
          = link_to '#', class: 'count-up' do
            %span.more +
          = link_to '#', class: 'count-down' do
            %span.less -
          %input{ type: 'number', value: 1, name: 'count'}
          %span.priceBtn
            = link_to 'Add to cart', '#', class: 'button addToCart tiny', data: { productid: @product.id, count: '1' }
      .columns.small-12.paddingTopBottom
        .shortDescription
          %b #{I18n.t('About product')}:
        = @product.product_desc || I18n.t('No description')
  .columns.medium-12.small-12
    .fullDescription
      %b #{I18n.t('Description')}:
    = @product.product_s_desc || I18n.t('No description')
