!!!
%html
  %head.myShop
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }

    %title= content_for?(:title) ? yield(:title) : 'Ужгород Ikea'

    = render partial: 'layouts/favicon_link'

    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    -# = meta_keywords
    -# = meta_description
    -# = meta_title
    - cdn = 'https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/'
    - cdn += 'modernizr.min.js'
    %script{ src: cdn }

    = stylesheet_link_tag('shop_b')
    = render partial: 'layouts/google_analitics'

    = csrf_meta_tags

    - if content_for(:head)
      = yield(:head)
  %body{ id: content_for?(:body_id) ? yield(:body_id) : '' }
    .flashContainer
      - if flash[:notice]
        .alert-box.success.radius{ 'data-alert' => '' }
          = flash[:notice].html_safe
          %a.close{ href: '#' } &times;
      - if flash[:alert]
        .alert-box.alert.radius{ 'data-alert' => '' }
          = flash[:alert].html_safe
          %a.close{ href: '#' } &times;

    %header#topHeader
      %nav.top-bar.vertical-dropdown{ 'data-topbar' => '', role: 'navigation' }
        / Title
        %ul.title-area
          %li.offcanvas_a
            %a.left-off-canvas-toggle{ href: '#' }
              MENU
          %li.name
            %h1
              %a{ href: root_path }
                %img{ src: image_path('logo.png') }
          / Mobile Menu Toggle
          %li.toggle-topbar.menu-icon
            %a{ href: '#' }
              %span Menu
        / Top Bar Section
        %section.top-bar-section.topSearchForm
          / Top Bar Left Nav Elements
          %ul.left
            / Search | has-form wrapper
            %li.has-form
              .row.collapse.withTokenInput
                .large-10.small-10.columns
                  %input.hot-search{ placeholder: '', type: 'text' }

                .large-2.small-2.columns
                  %a.primary.button.expand.go-to-product{ href: '#' }
                    %i.fi-magnifying-glass

          / Top Bar Right Nav Elements
          %ul.right.topProductMenu
            %li.divider
            %li.top_with_link
              %a{ href: cart_index_path, title: I18n.t('My Cart'), class: 'cart_link' }
                = I18n.t('My Cart')
                - if @cart.product_count > 0
                  %span{ class: 'badge'}
                    = @cart.product_count
                - else
                  %span{ class: 'badge empty'}
            %li.divider
            %li.top_with_link
              %a{ href: orders_path, title: I18n.t('My Orders') }= I18n.t('My Orders')
            %li.divider
            %li.has-dropdown.top_with_link
              %a{ href: products_path, title: I18n.t('Catalog') }= I18n.t('Catalog')
              %ul.dropdown
                - Category.catalog.each do |category, value|
                  %li{ class: category.length > 12 ? 'two_lines' : '' }
                    %a.productLink{ href: "#{products_path}?category=#{category + '/'}" }= category

            %li.divider
            %li.has-form
              - if current_user
                = link_to I18n.t('Sign Out'), destroy_user_session_path,
                                       method: :delete,
                                       class: 'button',
                                       title: I18n.t('Sign Out')
              - else
                %a.button{ href: user_session_path, title: 'Sign Up' }= I18n.t('Sign In')

    .off-canvas-wrap{ 'data-offcanvas' => '', class: is_products_page ? 'move-right' : '' }
      .inner-wrap
        %a.sidebar-catalog-link.left-off-canvas-toggle.button.primary{ href: '#', ref: 'nofollow'}
          = I18n.t('Catalog')
        .aside.asideProductMenu.left-off-canvas-menu
          %ul.off-canvas-list
            - catalog = Category.catalog
            - catalog.keys.sort.each do |category|
              - _catalog = catalog[category]
              - url = URI::encode("#{category}/")
              - if _catalog.keys.blank?
                %li
                  %a.productLink{ href: "#{products_path}?category=#{url}" }
                    %span.link-text-single= category
              - else
                %li
                  %a.productLink.off-canvas-submenu-call{ href: "#{products_path}?category=#{url}" }
                    %span.link-text
                      = category
                    %span.right +
                %ul.off-canvas-submenu
                  - _catalog.keys.sort.each do |_sub_1|
                    - _catalog = catalog[category][_sub_1]
                    - url = URI::encode("#{category}/#{_sub_1}")
                    - if _catalog.keys.blank?
                      %li
                        %a.productLink{ href: "#{products_path}?category=#{url}" }
                          %span.link-text-single= _sub_1
                    - else
                      %li
                        %a.productLink.off-canvas-submenu-call{ href: "#{products_path}?category=#{url}" }
                          %span.link-text= _sub_1
                          %span.right +
                      %ul.off-canvas-submenu
                        - _catalog.keys.sort.each do |_sub_2|
                          - _catalog = catalog[category][_sub_1][_sub_2]
                          - url = URI::encode("#{category}/#{_sub_1}/#{_sub_2}")
                          - if _catalog.keys.blank?
                            %li
                              %a.productLink{ href: "#{products_path}?category=#{url}" }
                                %span.link-text-single= _sub_2
                          - else
                            %li
                              %a.productLink.off-canvas-submenu-call{ href: "#{products_path}?category=#{url}" }
                                %span.link-text= _sub_2
                                %span.right +
                            %ul.off-canvas-submenu
                              - _catalog.keys.sort.each do |_sub_3|
                                - _catalog = catalog[category][_sub_1][_sub_2][_sub_3]
                                - url = URI::encode("#{category}/#{_sub_1}/#{_sub_2}/#{_sub_3}")
                                - if _catalog.keys.blank?
                                  %li
                                    %a.productLink{ href: "#{products_path}?category=#{url}" }
                                      %span.link-text-single= _sub_3
                                - else
                                  %li
                                    %a.productLink.off-canvas-submenu-call{ href: "#{products_path}?category=#{url}" }
                                      %span.link-text= _sub_3
                                      %span.right +
                                  %ul.off-canvas-submenu
                                    - _catalog.keys.sort.each do |_sub_4|
                                      - _catalog = catalog[category][_sub_1][_sub_2][_sub_3][_sub_4]
                                      - url = URI::encode("#{category}/#{_sub_1}/#{_sub_2}/#{_sub_3}/#{_sub_4}")
                                      - if _catalog.keys.blank?
                                        %li
                                          %a.productLink{ href: "#{products_path}?category=#{url}" }
                                            %span.link-text-single= _sub_4
                                      - else
                                        %li
                                          %a.productLink.off-canvas-submenu-call{ href: "#{products_path}?category=#{url}" }
                                            %span.link-text= _sub_4
                                            %span.right +
                                        %ul.off-canvas-submenu
                                          - _catalog.keys.sort.each do |_sub_5|
                                            - url = URI::encode("#{category}/#{_sub_1}/#{_sub_2}/#{_sub_3}/#{_sub_4}/#{_sub_5}")
                                            %li
                                              %a.productLink{ href: "#{products_path}?category=#{url}" }
                                                %span.link-text-single= _sub_5
        %a.exit-off-canvas
        .main
          = yield

        %footer.container.ft
          .panel
            %ul.foot-links.inline-list
              %li
                %a{ href: about_us_path, title: 'About Us' } About Us
              %li
                %a{ href: contact_us_path, title: 'Contact Us' } Contact Us
              %li
                %a{ href: '#' }
                  &copy; 2012 IKEA, All Rights Reserved
              %li
                %a{ href: term_of_use_path } Terms of Service

        #myModal.reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog"}
          #modalTitle
          .modal-body
          %a.close-reveal-modal{"aria-label" => "Close"} ×

    = requirejs_include_tag 'my_shop_b'
    -#= javascript_include_tag('application')

    -#:javascript


